*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

header{
    background:#111;
    color:white;
    padding:20px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

.logo p{
    color:gold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

.hero{
    height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(to right,#000,#444);
    color:white;
}

.hero h2{
    font-size:50px;
}

.hero p{
    font-size:20px;
    margin:20px 0;
}

button{
    background:gold;
    color:black;
    padding:15px 35px;
    border:none;
    border-radius:5px;
    font-size:18px;
    cursor:pointer;
    font-weight:bold;
}

.categories{
    padding:60px;
    text-align:center;
}

.category-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
    margin-top:40px;
}

.card{
    background:white;
    padding:50px 20px;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}